.header {
  display: flex;
  background-color: #ecaa5b;
  justify-content: space-between;
  align-items: center;
  padding: 20px 18px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .icon {
    height: 1.4rem;
  }

  .label {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
