.list {
  padding: 10px 20px;
  background-color: #292933;
  border-bottom: 1px solid gray;

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    animation: heightAppear 3s;
    overflow: hidden;

    .avatar {
      width: 45%;
      animation: scaleAppear 1.5s;
    }
    .button {
      height: 30px;
    }
  }
  .item {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
    .details {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 15px 0;
      .label,
      .frequency {
        color: #a2abbd;
        font-size: 1.2rem;
      }
      .frequency {
        font-weight: 700;
      }
    }
  }
}

@keyframes heightAppear {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}

@keyframes scaleAppear {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleY(1);
  }
}
