{
  "presets": ["@babel/preset-typescript", "@babel/react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@src": "./src",
          "@assets": "./src/assets"
        }
      }
    ]
  ]
}
