.container {
  width: 20rem;
  font-family: 'Helvetica Neue', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';

  .container__header {
    display: flex;
    background-color: #ecaa5b;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .container__header__icon {
      height: 1.4rem;
    }

    .container__header__label {
      color: white;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }

  .container__list {
    padding: 10px;
    background-color: #292933;
    border-bottom: 1px solid gray;
    .container__list__item {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      .container__list__item__label,
      .container__list__item__frequency {
        color: #a2abbd;
      }
      .container__list__item__frequency {
        font-weight: 700;
      }
      &:not(:last-child) {
        border-bottom: 1px solid gray;
      }
    }
  }

  .container__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #25252f;
    .container__footer__info {
      color: orange;
      font-size: 0.65rem;
    }
    .container__footer__station {
      font-size: 1.3rem;
    }
  }
}
